<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
<!--
    # Information #
    This configuration file will be used to create a virtual machine
    here we will be assigning the "specs" of the VM 
-->
    <Credentials>
        <MachineName>win-newazure1</MachineName>
        <DomainAdmin>MDH\Administrator</DomainAdmin>
    </Credentials>

	<CreateVM>
        <HostName>win-newazure1</HostName>
        <VMName>DemoVM</VMName>
        <ClusterName>clusterv2</ClusterName>
        <MemoryStartup>4GB</MemoryStartup>
        <MinimumBytes>1GB</MinimumBytes>
        <MaximumBytes>4GB</MaximumBytes>
        <BootDeviceExstention>VHD</BootDeviceExstention>
        <BootDevicePath>\\WIN-NEWAZURE1\c$\ClusterStorage\Volume01\VHD\MDH-TestVMBAK.vhd</BootDevicePath>
        <LocationPath>\\WIN-NEWAZURE1\c$\ClusterStorage\Volume01\VMs</LocationPath>
	</CreateVM>
</Configuration>
